



.foto-perfil{ 
    padding: 0px; 
    margin: 10px; 
    border: 1px solid black;  
    width: 100px; 
    margin-left: 80px;
  }
.tablas th {
      font-family:Arial, Helvetica, sans-serif;
      text-align: left;
      width: 150px;
      height: 20px;
      font-weight:bold;
      white-space: nowrap;
    }
.tablas td {
      font-family: Calibri ;
      text-align: left;
      width: 150px;
      height: 20px;
      white-space: nowrap;
    }
    .tablas caption{
      font-weight:bold;
      margin-bottom: 10px;
    }
.tablas table{
  margin-bottom: 20px;
}
.tablas li {
  font-family: Calibri ;
  text-align: left;
  margin-bottom: 5px;
  width: 330px;
  text-align: justify;
  
}
.tablas h4{
  text-align: center;
  width:320px;
}
.tablas ul{
  padding-left: 0em;
}

ul {
  list-style-type: none;
  display:block;
  margin:auto;
  }
  
  #icon-perfil {
  background: url('../img/mujer.png') no-repeat left center;
  height: 30px;
  padding-left: 30px;
  }
.nav li{
  display: list-item;
  position:relative;
  border-bottom: 1px solid #e9ecf2;
}
#contenedor{
 margin-left: 250px ;
}

.nav {
  margin-top: 30%;
}

.cabecera-nav{
  background-color: #8f5faf;
  min-height: 70px;
  padding-left: 15px;
  width: 200px;
}
.logo{
  padding: 0px;
  display:block;
  margin:auto;
}

li a{
  text-decoration:none;
  padding:5px 10px;
  color:rgb(0, 0, 0);
  background-color:rgb(255, 255, 255);
  }
  li a:hover{
    color:rgb(151, 136, 136);
    background-color:rgb(177, 69, 69);
                
    }
nav ul li{
  list-style-type:none;
  border:1px solid #000;
  white-space: nowrap;
  padding: 10px 0px;
  width: 200px;
  height:30px;
  margin-left: 0px;

}
          
nav li:hover ul{display:block;}
nav{
   margin-left: 0px; 
  }