

.div-foto-perfil{
  width: 400px;
  height: 200px;
}

.tablas{
  width: 400px;
  height: auto;
  background-color: #8f5faf9a;
  margin:0px;
}
.foto-perfil{ 
    border: 1px solid black;  
    width: 100px;
    display: block;
    margin: auto;
  }
.tablas th {
      font-family:Arial, Helvetica, sans-serif;
      text-align: left;
      height: 20px;
      font-weight:bold;
      white-space: nowrap;
    }
.tablas td {
      font-family: Calibri ;
      text-align: left;
      height: 20px;
      white-space: nowrap;
    }
  .tablas caption{
    font-weight:bold;
    margin: 0px 0px 0px 10px;
    text-align: center;
  }

.tablas li {
  font-family: Calibri ;
  text-align: left;
  margin-bottom: 5px;
  width: 330px;
  text-align: justify;
  
}
.tablas h4{
  text-align: center;
  width:320px;
}
.tablas ul{
  padding-left: 0em;
}

nav ul {
  list-style-type: none;
  padding: 0px;
  width: 200px;
  float: left;
  margin: 0px;
  }
  
.nav li{
  display: list-item;
  position:relative;
  border-bottom: 1px solid #e9ecf2;
  
}
#contenedor{
 margin-left: 200px;
}


.cabecera-nav{
  background-color: #8f5faf;
  width: 200px;
}
.logo{
  padding: 0px;
  display:block;
  margin:auto;
}

li a{
  text-decoration:none;
  padding: 0 4px;
  color:rgb(0, 0, 0);
  display: block;
  text-align: center;
  line-height: 100px;
}

nav ul li a:hover{
	background-color: #8f5faf9a;
	color: rgb(255, 255, 255);
	position: relative;
}
nav ul li{
  list-style-type:none;
  white-space: nowrap;
  padding: 0px;
  height: 100px;
}
          
nav{
  display: block;
  float:left;
  width: 200px;
  height: 800px;
  background-color: #8f5faf13;
  }
#nombre-perfil{
  text-align: center;
}
.tables table{
  margin:0px;
}